
body {
	background: url('../images/originals/dropbox.jpg') center center no-repeat;
	background-size: cover;
	font-family: 'Cutive Mono', monospace;
	overflow: hidden;
	height: 100vh;
}

body * {
	font-family: 'Cutive Mono', monospace;
}

p {
	font-size: 1.2rem;
}

h2 {
	margin-bottom:1.5rem !important;
}

.hangman-container {
	background: #f3f3f3;
	box-shadow: 0px 0px 50px #666;
	border-radius: 5px;
	position: relative;
	margin: 0 auto;
	padding: 2rem;
	height: 635px;
	width: 900px;
	top: 6rem;
}

.stand {
	height: 260px;
	max-height: 260px;
}

.col-4, .col-6 {
	padding: 0 !important;
}

.head {
	position: absolute;
	left: 50%;
	top: 25%;
	z-index: 1;
}

.body {
	position: absolute;
	top: 41.5%;
	left: 46%;
}

.legs {
	position: absolute;
	top: 60%;
	left: 49%;
}

.hangman-images {
	height: 50px;
	width: 50px;
}


#main {
	text-align: center;
}

#difficulty {
	text-align:center;
	position: relative;
	top: 35%;
}

.image-container {
	background: #ebebeb;
	height: 270px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	top: 3rem;
	display: none;
}

#easy, #hard {
	background: #0071e0;
	padding: 5px 11px;
	color: #fff;
	font-size: 1.4rem;
	border-radius: 5px;
	box-shadow: 0px 2px 3px #666;
	transition: ease box-shadow 0.2s;
}

#easy:hover, #hard:hover {
	box-shadow: 0px 3px 12px #666;
	text-decoration: none;
}

#hangman-title {
	text-align: center;
	display: none;
}

#alert {
	text-align: center;
	height: 31px;
	color: #cc0000;
}

#directions {
	display: none;
}

#hint, #directions {
	text-align: center;
	color: #0071e0;
	height: 31px;
}

.hangman-image-container {
	text-align: center;
}

/*------------#0071e0----------------*/
.letter {
	font-size: 2em;
	width:40px;
	height:45px;
	display:inline-block;
	border-bottom: 2px solid black;
	text-align:center;
	margin-right:15px;
}

.letterbox:nth-of-type(odd) {
	color: #0071e0;
}

.letterbox:nth-of-type(even) {
	color: #666;
}
 
.hidden {
	visibility:hidden;
}

.show {
	visibility:visible;
}

.hiddenBody {
	visibility: hidden;
}


@media screen and (max-width:1536px){
	.hangman-container {
		top: 1rem;
	}
}